@model DB_FirstEntity.Models.Faculty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Faculty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacultyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacultyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Standard.StandardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Standard.StandardName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FacultyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
