<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Faculty", "Index", "Faculties")</li>
        <li>@Html.ActionLink("Student", "Index", "Students")</li>
        <li>@Html.ActionLink("Standard", "Index", "Standards")</li>
        <li>@Html.ActionLink("Course", "Index", "Courses")</li>
    </ul>
</div>
